*
	box-sizing: border-box
	appearance: none
	outline: none

body
	font-family: $rr, sans-serif
	font-weight: normal
	font-size: 14px
	min-width: 320px
	position: relative
	line-height: 1
	-webkit-font-smoothing: subpixel-antialiased
	overflow-x: hidden
	background: #fff

a
	text-decoration: none
	color: inherit
	&:hover
		text-decoration: none
		color: inherit

input, textarea
	&::placeholder
		color: inherit
		font-size: inherit
		font-family: inherit

.hidden
	display: none

.clearfix
	@include clearfix
	&:before
		content: ''
		display: table
		clear: both

.wrapper
	position: relative
	width: 1160px
	margin: 0 auto
	@extend .clearfix
	+m(d)
		width: 970px
	+m(t)
		width: 768px
	+m(t2)
		width: 480px
	+m(p1)
		width: 320px