@keyframes men
	0%
		transform: translateY(0)
	50%
		transform: translateY(-5px)
	100%
		transform: translateY(0)

@keyframes btn
	from
		transform: scale(1.0, 1.0)
	50%
		transform: scale(1.1, 1.1)
	to
		transform: scale(1.0, 1.0)

@keyframes puls
	from
		transform: scale(1.0, 1.0)
	50%
		transform: scale(1.05, 1.05)
	to
		transform: scale(1.0, 1.0)