/// including mixins ///

@mixin m ($m)
	@if $m == d
		@media only screen and (max-width: $d)
			@content
	@else if $m == t
		@media only screen and (max-width: $ta)
			@content
	@else if $m == t2
		@media only screen and (max-width: $ta2)
			@content
	@else if $m == p1
		@media only screen and (max-width: $ph)
			@content
	@else if $m == p2
		@media only screen and (max-width: $ph2)
			@content


// sp-bg //
@mixin sp($sp, $w, $h)
	background: url(../img/sprites/#{$sp}.png) no-repeat top center
	background-size: cover
	width: $w
	height: $h