@import "bourbon/bourbon"
@import "_reset"
@import '_fonts'
@import "_variables.sass"
@import "_mixins"
@import "_base"
@import "_keyframes"



.header
	background: url(../img/header-bg.png) no-repeat top center
	background-size: cover
	padding-bottom: 160px
	+m(t)
		padding-bottom: 60px
	&_contacts
		height: auto
		width: 100%
		margin-top: 40px
		background-color: white
		border-radius: 4px
		padding: 20px 0 25px
		@extend .clearfix
		+m(d)
			margin-top: 12px
		+m(p1)
			display: none
		&_logo
			display: block
			float: left
			margin: 5px 0 0 25px
			&_icon
				display: block
				+sp("logo", 220px, 104px)
				+m(t2)
					margin: 0 auto
			+m(d)
				margin-left: 10px
			+m(t)
				margin-left: 5px
			+m(t2)
				margin-left: 0
				float: none
				width: 100%
		&_block
			float: left
			margin-left: 5px
			@extend .clearfix
			+m(t2)
				float: none
				width: 100%
				margin-top: 10px
				margin-left: 0
			&_item
				float: left
				margin-left: 32px
				width: 250px
				+m(d)
					width: 210px
					margin-left: 10px
					margin-top: 10px
				+m(t)
					width: 170px
					margin-top: 25px
					&:nth-of-type(2)
						width: 140px
				+m(t2)
					width: 50%
					float: left
					padding: 0 30px
					margin-left: 0
					&:nth-of-type(2)
						width: 50%
				+m(p1)
					width: 100%
					float: none
					padding: 0 15px
					&:nth-of-type(2)
						width: 100%
			&_head
				display: block
				font-size: 14px
				line-height: 24px
				color: #06c
				font-family: $osb
				+m(p1)
					text-align: center
					font-size: 16px
			&_adress
				display: block
				font-family: $osr
				font-size: 14px
				line-height: 24px
				color: #1a140f
				font-weight: 400
				text-transform: uppercase
				+m(d)
					font-size: 12px
				+m(t)
					letter-spacing: -0.5px
					text-transform: none
				+m(p1)
					text-align: center
					text-transform: uppercase
					font-size: 14px
			&_phone-block
				display: block
				float: right
				margin-top: 15px
				+m(t)
					margin-top: 45px
				+m(t2)
					width: 100%
					margin-top: 15px
				&_phone
					display: block
					color: #1a140f
					font-family: $osb
					font-size: 32px
					font-weight: 700
					line-height: 30px
					text-transform: uppercase
					transition: $trs
					position: relative
					+m(t)
						font-size: 22px
					+m(t2)
						font-size: 32px
						text-align: center
					&:after
						content: ''
						position: absolute
						bottom: 0
						left: 50%
						right: 50%
						height: 2px
						background: #1a140f
						width: 0
						transition: $trs
					&:hover
						&:after
							right: 0
							left: 0
							width: 100%
		&_menu
			display: table
			width: 100%
			+m(p1)
				display: block
			&_block
				margin-top: 30px
				float: right
				width: 75%
				+m(t)
					width: 100%
					float: left
					margin-top: 15px
			&_item
				display: table-cell
				vertical-align: middle
				padding-top: 10px
				+m(p1)
					display: block
			&_lnk
				display: block
				padding: 0 33px
				color: black
				font-family: $rb
				font-size: 14px
				font-weight: 700
				position: relative
				text-align: center
				transition: $trs
				top: 0
				+m(t2)
					padding: 0 10px
				+m(p1)
					display: block
					text-align: center
					margin-top: 10px
					font-size: 16px
				&:hover
					position: relative
					margin-top: -5px
					margin-bottom: -5px
					padding-bottom: 10px
					text-decoration: underline
					animation: men 1.5s linear infinite
					&:after
						right: 33px
						left: 33px
						width: auto
						margin-bottom: 10px
						bottom: -10px
	&-stock
		margin-top: 12px
		background-color: rgba(black, 0.5)
		border-radius: 4px
		padding: 20px 0 13px
		+m(p1)
			margin-top: 15px
		&_left-col
			float: left
			width: 50%
			padding: 0 50px
			+m(t)
				float: none
				width: 100%
			+m(p1)
				padding: 0 15px
		&_right-col
			float: right
			width: 50%
			+m(t)
				float: none
				width: 100%
				padding: 0 15px
		&_head
			display: block
			color: white
			font-family: $rb
			font-size: 37px
			font-weight: 700
			line-height: 40px
			+m(t)
				text-align: center
			+m(p1)
				font-size: 24px
				line-height: 1.2
				letter-spacing: -0.5px
		&_items
			margin-top: 80px
			@extend .clearfix
			+m(t)
				margin-top: 25px
		&_item
			float: left
			width: 33.333%
			visibility: hidden
			&_icon
				display: block
				margin: 0 auto
				&--1
					+sp("stock-icon1", 88px, 88px)
				&--2
					+sp("stock-icon2", 88px, 88px)
				&--3
					+sp("stock-icon3", 88px, 88px)
			&_name
				display: block
				text-align: center
				margin-top: 5px
				padding: 0 5px
				text-transform: uppercase
				font-family: $osr
				font-size: 12px
				line-height: 1.4
				color: #fff
				+m(p1)
					font-size: 10px
		&_lead-btn
			display: block
			margin: 83px auto 0
			width: 307px
			height: 41px
			background-color: #3d8bb8
			border-radius: 4px
			box-shadow: 0 5px 5px rgba(15, 74, 147, 0.41)
			transition: $trs
			text-align: center
			color: white
			font-family: $osb
			font-size: 17px
			font-weight: 700
			line-height: 41px
			+m(t)
				margin-top: 30px
			+m(p1)
				width: 100%
				font-size: 16px
			&:hover
				color: #fff
				background-color: #377da6
				animation: btn 0.65s infinite linear
		&_subtxt
			display: block
			margin-top: 12px
			color: white
			font-family: $osr
			font-size: 12px
			font-style: italic
			text-align: center
		&_video
			margin: 10px auto 0
			width: 480px
			height: 271px
			+m(t)
				width: 80%
				margin: 10px auto 0
				display: block
			+m(p1)
				height: 180px
		&_content
			display: block
			margin-top: 25px
			width: 100%
			color: white
			font-family: $rr
			font-size: 16px
			font-style: italic
			line-height: 24px
			visibility: hidden
	&_mob
		display: none
		position: fixed
		left: 0
		right: 0
		top: 0
		height: 69px
		background-color: #1f2630
		z-index: calc(5)
		+m(p1)
			display: block
		&_logo
			display: block
			float: left
			margin: 17px 0 0 7px
			&_icon
				display: block
				+sp("logo-mob", 75px, 33px)
		&_phone
			display: block
			float: left
			margin: 19px 0 0 17px
			text-align: right
			&_head
				display: block
				color: white
				font-family: $osr
				font-size: 10px
				font-weight: 400
				text-transform: uppercase
			&_item
				display: block
				margin-top: 4px
				color: white
				font-family: $osb
				font-size: 16px
				font-weight: 700
				text-transform: uppercase
		&_menu-toggler
			position: absolute
			top: 0
			right: 0
			width: 58px
			height: 69px
			background-color: #1a202a
			transition: $trs
			&:hover
				background-color: #0babcd
				.header_mob_menu-toggler_icon
					background: #1a202a
					&:before, &:after
						background: #1a202a
			&.active
				.header_mob_menu-toggler_icon
					background-color: transparent
					&:before
						transform: rotate(225deg)
						top: 0
					&:after
						transform: rotate(135deg)
						top: 0
			&_icon
				display: block
				margin: 34px auto 0
				width: 22px
				height: 2px
				background-color: #0babcd
				position: relative
				transition: $trs
				&:before
					content: ''
					position: absolute
					left: 0
					right: 0
					top: -7px
					height: 2px
					width: 22px
					background-color: #0babcd
					transition: $trs
				&:after
					content: ''
					position: absolute
					left: 0
					right: 0
					bottom: -7px
					height: 2px
					width: 22px
					background-color: #0babcd
					transition: $trs
		&_menu
			position: absolute
			top: 69px
			left: 0
			right: 0
			background-color: #1f2630
			padding: 20px 10px
			box-shadow: 0 5px 10px rgba(#000, 0.3)
			display: none
			&_item
				display: block
				padding: 5px 0
				border-top: 1px solid #fff
			&_lnk
				display: block
				text-align: center
				line-height: 20px
				font-size: 14px
				text-transform: uppercase
				font-family: $osr
				color: #fff
	&_contact
		margin-top: 69px
		padding: 15px 5px
		background-color: white
		@extend .clearfix
		display: none
		+m(p1)
			display: block
		&_icon
			display: block
			float: left
			+sp('contact-icon-mob', 11px, 15px)
		&_content
			display: block
			float: left
			margin-left: 10px
			&_name
				display: block
				color: #999
				font-family: $osb
				font-size: 10px
				font-weight: 700
				text-transform: uppercase
			&_txt
				display: block
				margin-top: 2px
				color: #1a140f
				font-family: $osr
				font-size: 10px
				font-weight: 400
				text-transform: uppercase

.quarters
	margin-top: 95px
	&_head
		display: block
		text-align: center
		color: #1a140f
		font-family: $eb
		font-size: 60px
		font-weight: 700
		text-transform: uppercase
		+m(p1)
			font-size: 24px
			letter-spacing: -2px
	&_handlers
		margin-top: 75px
		@extend .clearfix
		+m(p1)
			margin-top: 15px
	&_handler
		width: 49%
		float: left
		margin: 0 0.5%
		padding: 10px 10px 55px
		cursor: pointer
		border-bottom: 2px solid #b9cadb
		transition: $trs
		@extend .clearfix
		background: rgba(51, 51, 51, 0.05)
		+m(t)
			padding-bottom: 15px
		+m(p1)
			height: 156px
		&:hover
			border-bottom: 2px solid darken(#b9cadb, 15%)
		&.active
			border-bottom: 2px solid #099aff
			background-color: transparent
		&_icon
			display: block
			float: left
			+m(t)
				float: none
				margin: 0 auto
			&--1
				+sp('handler-icon1', 190px, 140px)
				margin-top: 11px
				+m(p1)
					+sp('handler-icon-small1', 93px, 65px)
			&--2
				+sp('handler-icon2', 190px, 151px)
				+m(p1)
					+sp('handler-icon-small2', 95px, 71px)
		&_content
			float: left
			margin: 35px 0 0 43px
			@extend .clearfix
			+m(d)
				margin-left: 15px
			+m(t)
				float: none
				margin: 20px auto 0
		&_head
			display: block
			color: #1a140f
			font-family: $rb
			font-size: 36px
			text-transform: uppercase
			+m(t)
				text-align: center
				font-size: 32px
			+m(p1)
				font-size: 18px
		&_subhead
			display: block
			font-size: 14px
			color: #1a140f
			font-family: $rr
			margin-top: 5px
			text-transform: uppercase
			+m(t)
				text-align: center
			+m(p1)
				font-size: 10px
	&_items
		display: none
		margin-top: 20px
		&.active
			display: block
		&_block
			+m(p1)
				display: none
		@extend .clearfix
		&_carousel
			padding: 0 30px
			&-prev
				display: block
				position: absolute
				top: 50%
				left: 0
				margin: -15px 0 0 -60px
				border: 30px solid transparent
				border-right: 20px solid #ccc
				cursor: pointer
				z-index: calc(2)
				+m(t)
					margin: -15px 0 0
			&-next
				display: block
				position: absolute
				top: 50%
				right: 0
				margin: -15px -60px 0 0
				border: 30px solid transparent
				border-left: 20px solid #ccc
				cursor: pointer
				z-index: calc(2)
				+m(t)
					margin: -15px 0 0
			&_wrapper
				position: relative
	&_item
		float: left
		width: 95%
		margin: 0 5%
		position: relative
		border: 1px solid #b9cadb
		transition: $trs
		padding-bottom: 50px
		+m(p1)
			width: 90%
			float: none
			margin: 5%
		&:hover
			border: 1px solid #099aff
			.quarters_item_icon
				border: 1px solid #099aff
		&_icon
			position: absolute
			left: -1px
			top: -1px
			width: 98px
			height: 100px
			border: 1px solid #b9cadb
			background: #fff
			transition: $trs
			text-align: center
			vertical-align: middle
			line-height: 98px
			&_img
				vertical-align: middle
				display: inline-block
				margin: 0 auto
		&_img
			display: block
			margin: 0 auto
			max-height: 210px
			+m(t)
				width: 90%
			&_wrapper
				margin-top: 115px
				height: 210px
				+m(t2)
					height: 110px
				+m(p1)
					height: auto
		&_name
			margin-top: 30px
			display: block
			text-align: center
			color: black
			font-family: $rb
			text-transform: uppercase
			font-size: 18px
			font-weight: 700
			+m(t2)
				font-size: 12px
		&_level
			display: block
			text-align: center
			margin-top: 7px
			font-size: 14px
			font-weight: 400
			color: black
			font-family: $rr
			text-transform: uppercase
		&_price
			display: block
			text-align: center
			margin-top: 20px
			color: black
			font-family: $eb
			font-size: 36px
			font-weight: 700
			font-variant: small-caps
			+m(t)
				font-size: 32px
			+m(t2)
				font-size: 20px
	&_about
		margin-top: 40px
		@extend .clearfix
		&:last-of-type
			display: none
		&_img
			display: block
			float: left
			width: 41.12%
			height: 309px
			+m(t)
				height: 250px
			+m(t2)
				width: 90%
				float: none
				margin: 0 auto
		&_content
			padding: 0 10px 0 45px
			float: left
			width: 58.88%
			+m(t2)
				float: none
				width: 100%
				padding: 0 15px
				margin-top: 15px
			&_item
				display: block
				color: black
				font-family: $rb
				font-size: 16px
				font-weight: 700
				line-height: 30px
				+m(t)
					line-height: 1.2
			&_txt
				display: block
				margin-top: 40px
				color: black
				font-family: $rr
				font-size: 16px
				font-weight: 400
				line-height: 24px
				+m(t)
					margin-top: 15px
					line-height: 1.1
				span
					display: block
					margin-top: 5px

.lead
	background: url(../img/lead-bg.png) no-repeat top center
	position: relative
	z-index: calc(2)
	padding: 40px 0 30px
	margin-top: 55px
	+m(t)
		background-position: left top
		background-size: cover
	+m(p1)
		padding-bottom: 0
	.wrapper
		z-index: calc(3)
	.lead_form
		float: left
		width: 730px
		+m(d)
			width: 645px
		+m(t)
			float: none
			width: 100%
			padding: 0 15px
		&_head
			display: block
			text-align: right
			font-family: $rr
			font-weight: 400
			text-transform: uppercase
			color: white
			font-size: 36px
			+m(t)
				text-align: center
			&_lnk
				color: #fc0
		&_subhead
			display: block
			text-align: right
			font-family: $rr
			font-weight: 400
			text-transform: uppercase
			color: white
			font-size: 24px
			margin-top: 7px
			+m(t)
				text-align: center
		&_block
			margin-top: 28px
			@extend .clearfix
			+m(t)
				width: 635px
				margin: 20px auto 0
				display: block
			+m(t2)
				width: 90%
		&_input
			display: block
			float: left
			width: 236px
			height: 53px
			margin-right: 8px
			background-color: transparent
			padding: 0 25px
			border: 1px solid white
			color: white
			font-family: $rr
			font-size: 16px
			font-weight: 400
			+m(d)
				width: 205px
			+m(t2)
				width: 100%
				float: none
				margin: 15px auto 0
		&_submit
			display: block
			float: left
			width: 242px
			height: 53px
			background-color: #fc0
			cursor: pointer
			transition: $trs
			border: none
			color: black
			font-family: $rb
			font-size: 16px
			font-weight: 700
			text-transform: uppercase
			+m(d)
				width: 205px
			+m(t2)
				width: 100%
				float: none
				margin: 15px auto 0
			&:hover
				background-color: #ffe400
	.lead_timer
		float: right
		width: 32.67%
		padding-left: 45px
		+m(t)
			float: none
			width: 300px
			margin: 30px auto 0
			padding-left: 0
		+m(p1)
			background-color: #099aff
			width: 100%
			padding: 10px
			position: relative
			&:before
				content: ''
				position: absolute
				top: -35px
				left: 50%
				margin-left: -24px
				border: 24px solid transparent
				border-bottom: 12px solid #099aff
		&_head
			display: block
			color: white
			font-family: $rr
			font-size: 16px
			font-weight: 400
			text-transform: uppercase
			+m(t)
				text-align: center
			+m(p1)
				font-size: 12px
		&_items
			margin-top: 25px
			@extend .clearfix
			text-align: center
			+m(p1)
				margin-top: 3px
		&_item
			display: inline-block
			margin-left: 10px
			&:first-of-type
				margin-left: 0
			&:not(:first-of-type)
				.lead_timer_item_val
					&:before
						content: ':'
						display: inline-block
						vertical-align: middle
						color: white
						font-family: $rb
						font-size: 24px
						font-weight: 700
						text-transform: uppercase
						margin-right: 10px
						animation: time 1.4s infinite linear
			&_val
				display: block
				color: white
				font-family: $rb
				font-size: 72px
				font-weight: 700
				text-transform: uppercase
				+m(d)
					font-size: 64px
				+m(p1)
					font-size: 36px
			&_name
				display: block
				margin-top: 15px
				text-align: right
				color: white
				font-family: $rr
				font-size: 16px
				font-weight: 400
				+m(d)
					margin-top: 10px

@keyframes time
	from,
		opacity: 1
	25%,
		opacity: 1
	45%,
		opacity: 0
	65%,
		opacity: 1
	to
		opacity: 1

.advantages
	margin-top: 80px
	&_head
		display: block
		text-align: center
		color: #1a140f
		font-family: $eb
		font-size: 60px
		font-weight: 700
		text-transform: uppercase
		+m(t2)
			font-size: 56px
		+m(p1)
			font-size: 40px
			letter-spacing: -2px
	.cols
		margin-top: 67px
		@extend .clearfix
		+m(p1)
			margin-top: 10px
	.left-col
		float: left
		width: 49.48%
		+m(t)
			width: 100%
			float: none
	&_block
		@extend .clearfix
		&_item
			width: 100%
			vertical-align: middle
			margin: 7px 0
			display: block
			position: relative
			+m(t)
				width: 90%
				margin: 10px auto 0
			+m(t2)
				width: 95%
			+m(p1)
				margin-top: 30px
			&.animated
				animation: puls 0.5s linear 1
			&_icon
				display: inline-block
				vertical-align: middle
				width: 96px
				height: 96px
				border: 4px solid white
				box-shadow: 0 5px 7px rgba(113, 113, 113, 0.41)
				border-radius: 44px
				&:hover
					animation: puls 0.3s linear 1
				+m(p1)
					display: block
					margin: 0 auto
				&--1
					+sp('advantages1', 88px, 88px)
				&--2
					+sp('advantages2', 88px, 88px)
				&--3
					+sp('advantages3', 88px, 88px)
			&_content
				display: inline-block
				width: 458px
				margin-left: 20px
				vertical-align: middle
				+m(d)
					margin-left: 10px
					width: 350px
				+m(t)
					width: 80%
				+m(t2)
					width: 70%
				+m(p1)
					margin: 20px 0 0 0
					width: 100%
					text-align: center
			&_name
				display: block
				font-family: $rb
				font-size: 16px
				font-weight: 700
				text-transform: uppercase
			&_content_txt
				display: block
				margin-top: 5px
				font-family: $rr
				font-size: 14px
				font-weight: 400
				line-height: 1.2
	.tabs
		margin-top: 70px
		@extend .clearfix
		&_handlers
			float: left
			width: 29.74%
			+m(p1)
				width: 100%
		&_handler
			display: block
			font-family: $rb
			font-size: 14px
			font-weight: 700
			line-height: 30px
			text-transform: uppercase
			color: black
			transition: $trs
			cursor: pointer
			padding: 0 14px
			position: relative
			user-select: none
			+m(t2)
				line-height: 1.2
				margin-top: 10px
				letter-spacing: -0.5px
			+m(p1)
				padding: 10px
				margin-top: 0
				font-size: 12px
			&.active
				color: #fff
				background-color: #099aff
				&:after
					opacity: 1
			&:after
				content: ''
				position: absolute
				z-index: calc(2)
				top: 0
				bottom: 0
				right: -16px
				transition: $trs
				opacity: 0
				+sp('advantages-handler-ugol', 16px, 30px)
				+m(t2)
					display: none
			&_subcontent
				display: none
				background-color: transparent
				transition: $trs
				padding: 13px 22px 9px
				color: white
				font-family: $rr
				font-size: 12px
				font-weight: 400
				line-height: 16px
				&.active
					background-color: #099aff
				+m(p1)
					&.active
						display: block !important
		&_content
			float: right
			width: 66.47%
			+m(p1)
				display: none
		&_item
			&:not(.active)
				display: none
			&_content
				display: block
				color: black
				font-family: $rr
				font-size: 14px
				font-weight: 400
				line-height: 24px
				+m(t)
					padding: 0 15px
	&_items
		margin-top: 60px
	&_item
		width: 33.3333%
		float: left
		&_head
			display: block
			text-align: center
			font-family: $rr
			font-size: 48px
			font-weight: 700
			text-transform: uppercase
			&--1
				color: #4585f4
			&--2
				color: #73a3f7
			&--3
				color: #a2c2f9
		&_val
			display: block
			text-align: center
			margin-top: 30px
			color: #333
			font-family: $rr
			font-size: 16px
			line-height: 24px
			b
				font-family: $rb
	.right-col
		width: 41.03%
		float: right
		+m(t)
			float: none
			width: 90%
			margin: 30px auto 0
	&_map_block
		width: 100%
		height: 288px
		.map-metka
			display: none

.payments
	background: url(../img/payments.png) no-repeat top center
	background-size: cover
	margin-top: 85px
	padding-top: 345px
	+m(t)
		padding-top: 10px
		padding-bottom: 10px
	&_items
		@extend .clearfix
		position: relative
		bottom: -45px
		+m(t)
			bottom: 0
	&_item
		float: left
		padding: 120px 50px 105px
		width: 24%
		margin: 0 0.5%
		background-color: white
		box-shadow: 0 0 46px rgba(0, 0, 0, 0.19)
		transition: ease-in-out 0.2s transform, 0.2s 0.2s ease-in-out box-shadow
		+m(d)
			padding: 120px 35px 105px
		+m(t)
			width: 48%
			margin: 1%
		+m(p1)
			width: 90%
			float: none
			margin: 20px auto
			padding: 25px 15px 20px
		&:hover
			box-shadow: 0 0 10px rgba(#fff,0.5), inset 0 0 30px rgba(#000, 0.1)
			transform: translateY(-15px)
		&_head
			display: block
			text-align: center
			color: black
			font-family: $rb
			font-size: 18px
			font-weight: 700
			line-height: 24px
			text-transform: uppercase
		&_content
			display: block
			margin-top: 35px
			text-align: center
			color: black
			font-family: $rr
			font-size: 14px
			font-weight: 400
			line-height: 18px
			+m(p1)
				margin-top: 10px

.recall-block
	margin-top: 152px
	+m(t)
		margin-top: 50px
	.left-col
		float: left
		width: 479px
		+m(d)
			width: 50%
		+m(t)
			width: 90%
			float: none
			margin: 0 auto
	&_head
		display: block
		color: #1a140f
		font-family: $rb
		font-size: 36px
		font-weight: 700
		line-height: 1.2
		text-transform: uppercase
		+m(t)
			text-align: center
		+m(p1)
			font-size: 18px
		a
			display: inline-block
			position: relative
			&:after
				content: ''
				position: absolute
				height: 2px
				left: 50%
				right: 50%
				bottom: 0
				background: #1a140f
				transition: $trs
			&:hover
				&:after
					left: 0
					right: 0
	&_content
		display: block
		margin-top: 30px
		color: #1a140f
		font-family: $rr
		font-size: 16px
		font-weight: 400
		line-height: 24px
		+m(p1)
			font-size: 12px
			line-height: 1.1
			margin-top: 15px
	&_contacts
		margin-top: 33px
		@extend .clearfix
	&_contact
		float: left
		position: relative
		+m(p1)
			padding-left: 40px
		&:first-of-type
			width: 65%
			+m(p1)
				float: none
				width: 90%
				&:before
					content: ''
					position: absolute
					left: 0
					top: 50%
					margin-top: -10px
					+sp('metka', 15px, 21px)
		&:last-of-type
			width: 35%
			+m(p1)
				float: none
				width: 90%
				margin: 20px 0 0
				&:before
					content: ''
					position: absolute
					left: 0
					top: 50%
					margin-top: -7px
					+sp('mail', 19px, 15px)
		&_head
			display: block
			font-family: $rb
			font-size: 16px
			font-weight: 700
			color: #000
		&_contact
			display: block
			margin-top: 13px
			font-size: 14px
			font-weight: 400
			font-family: $rr
			color: #000
			line-height: 20px
			&[href]
				display: inline-block
				position: relative
				&:after
					content: ''
					position: absolute
					height: 1px
					left: 50%
					right: 50%
					bottom: 0
					background: #1a140f
					transition: $trs
				&:hover
					&:after
						left: 0
						right: 0
	&_form
		margin-top: 35px
		padding: 25px 45px 33px
		background-color: #099aff
		@extend .clearfix
		+m(p1)
			padding: 15px 10px
		&_head
			display: block
			color: white
			font-family: $rr
			font-size: 18px
			font-weight: 400
			line-height: 24px
			text-transform: uppercase
			+m(t)
				text-align: center
			+m(p1)
				font-size: 16px
				br
					display: none
		&_inputs-wrapper
			margin-top: 23px
			+m(p1)
				margin-top: 15px
		&_input
			display: block
			float: left
			width: 238px
			height: 42px
			border: 2px solid white
			background-color: transparent
			padding: 0 25px
			color: white
			font-family: $rr
			font-size: 14px
			font-weight: 400
			text-transform: uppercase
			+m(t)
				width: 63%
				margin: 0 1%
			+m(p1)
				margin: 0 2% 0 0
				float: left
		&_submit
			display: block
			float: right
			width: 130px
			height: 42px
			background-color: #fc0
			color: black
			font-family: $rr
			font-size: 14px
			font-weight: 400
			text-transform: uppercase
			cursor: pointer
			transition: $trs
			border: none
			+m(t)
				width: 33%
				margin: 0 1%
			+m(p1)
				width: 35%
				margin: 0
				float: right
			&:hover
				background-color: #ffe400
	.managers
		width: 575px
		float: right
		+m(d)
			width: 50%
		+m(t)
			width: 90%
			float: none
			margin: 30px auto 0
		&_head
			display: block
			color: #1a140f
			font-family: $eb
			font-size: 60px
			font-weight: 700
			line-height: 1
			text-transform: uppercase
			+m(d)
				font-size: 50px
			+m(t)
				font-size: 60px
				text-align: center
			+m(p1)
				font-size: 24px
		&_items
			margin-top: 20px
			position: relative
			@extend .clearfix
			+m(t)
				text-align: center
			+m(t2)
				.owl-carousel
					.managers_item
						margin: 0 auto
						&_wrapper
							width: 100%
			.carousel-prev
				display: none
				position: absolute
				top: 50%
				left: -20px
				border: 15px solid transparent
				border-right: 10px solid #ccc
				cursor: pointer
				z-index: calc(2)
				+m(p1)
					z-index: calc(4)
					margin-top: -15px
			.carousel-next
				display: none
				position: absolute
				top: 50%
				right: -20px
				border: 15px solid transparent
				border-left: 10px solid #ccc
				cursor: pointer
				z-index: calc(2)
				+m(p1)
					z-index: calc(4)
					margin-top: -15px
		&_item
			width: 151px
			height: 151px
			border-radius: 76px
			background-color: white
			overflow: hidden
			position: relative
			&_wrapper
				float: left
				margin: 40px 20px 0
				cursor: pointer
				@extend .clearfix
				+m(t2)
					display: inline-block
					margin: 10px 20px 0
					float: none
				+m(p1)
					margin: 10px 4px 0
			+m(d)
				width: 120px
				height: 120px
				border-radius: 60px
			+m(t)
				width: 151px
				height: 151px
				border-radius: 76px
				display: inline-block
				float: none
			+m(t2)
				width: 84px
				height: 84px
				border-radius: 42px
			&:hover
				&:before
					opacity: 1
				.managers_item_name
					top: 0
					bottom: 76px
					+m(d)
						bottom: 60px
					+m(t)
						bottom: 76px
				.managers_item_phone
					bottom: 0
					top: 76px
					+m(d)
						top: 60px
					+m(t)
						top: 76px
					+m(t2)
						top: 0
			&:before
				content: ''
				position: absolute
				z-index: calc(2)
				left: 0
				transition: linear 0.2s
				opacity: 0
				right: 0
				bottom: 0
				top: 0
				background: rgba(#000, 0.5)
				+m(t2)
					display: none
			&_img
				position: absolute
				z-index: calc(1)
				top: 0
				right: 0
				bottom: 0
				left: 0
				+m(d)
					width: 100%
					height: 100%
					object-fit: cover
			&_name
				display: block
				position: absolute
				z-index: calc(3)
				transition: 0.3s 0.2s linear
				text-align: center
				color: white
				font-family: $rr
				font-size: 14px
				font-weight: 700
				text-transform: uppercase
				line-height: 76px
				left: 0
				right: 0
				top: -100%
				bottom: 100%
				&--mob
					display: none
					color: #161a22
					font-family: $rb
					font-size: 11px
					font-weight: 700
					text-transform: uppercase
					+m(t2)
						display: block
						text-align: center
						margin-top: 10px
				+m(t2)
					display: none
			&_phone
				display: block
				position: absolute
				z-index: calc(4)
				transition: 0.1s 0.2s linear, background-color 0.2s linear
				text-align: center
				left: 0
				right: 0
				bottom: -100%
				top: 100%
				background-color: #099aff
				@extend .clearfix
				&:hover
					background-color: #3bafff
				&_name
					display: block
					text-align: center
					margin-top: 15px
					color: white
					font-family: $rr
					font-size: 14px
					font-weight: 700
					text-transform: uppercase
					+m(t2)
						margin-top: 28px
						font-size: 11px
				&_icon
					display: block
					margin: 10px auto 0
					+sp('phone-icon', 15px, 15px)

.map
	&_baloon
		display: none
		&_head
			display: block
			font-family: $rb
			font-size: 22px
			color: #000
		&_content
			margin-top: 15px
			font-family: $rr
			line-height: 1.15
			color: #000
		&_phone
			display: block
			margin-top: 10px
			font-family: $rr
			color: #000
	&_block
		position: relative
		margin-top: 105px
		height: 574px
		.map
			width: 100%
			position: absolute
			z-index: calc(1)
			top: 0
			right: 0
			bottom: 0
			left: 0
		.wrapper
			position: relative
			top: 0
			text-align: center
		&_wrapper
			width: 60%
			margin: 85px auto 0
			padding: 10px 0
			border-radius: 10px
			background-color: rgba(0,0,0,.5)
			position: relative
			z-index: calc(2)
			+m(t)
				width: 70%
			+m(t2)
				width: 90%
			+m(p1)
				width: 95%
		&_head
			display: inline-block
			text-align: center
			position: relative
			z-index: calc(2)
			color: #fff
			font-family: $eb
			font-size: 60px
			font-weight: 700
			text-transform: uppercase
			+m(t)
				font-size: 44px
			+m(t2)
				font-size: 36px
			+m(p1)
				font-size: 26px
		&_content
			display: block
			text-align: center
			margin-top: 30px
			position: relative
			z-index: calc(2)
			color: #fff
			font-family: $rr
			font-size: 16px
			font-weight: 400
			text-transform: uppercase
			+m(t2)
				margin-top: 15px

.footer
	background: url(../img/footer-bg.png) no-repeat top center
	padding: 45px 0 50px
	+m(t)
		background: none
		background-color: #051425
	&_logo
		display: block
		&_icon
			display: block
			+sp('footer-logo', 214px, 92px)
			+m(t)
				margin: 0 auto
		&_block
			float: left
			width: 284px
			+m(t)
				width: 48%
				margin: 0 1%
				padding: 0 15px
			+m(p1)
				width: 100%
				margin: 0 auto
				padding: 0 15px
		&_subcontent
			display: block
			margin-top: 20px
			color: #fbfeff
			font-family: $osr
			font-size: 12px
			font-weight: 400
			line-height: 18px
			text-transform: uppercase
	&_contacts
		width: 320px
		margin-left: 70px
		float: left
		+m(d)
			width: 300px
			margin-left: 30px
		+m(t)
			width: 48%
			margin: 0 1%
		+m(p1)
			width: 100%
			padding: 0 15px
			margin-top: 30px
	&_contact
		display: block
		vertical-align: middle
		color: white
		font-family: $rr
		font-size: 14px
		font-weight: 400
		text-transform: uppercase
		margin: 11px 0
		line-height: 1.2
		+m(t2)
			font-size: 12px
		span
			width: 250px
			display: inline-block
			vertical-align: middle
			+m(t2)
				width: 150px
		&:before
			content: ''
			display: inline-block
			vertical-align: middle
			margin-right: 24px
		&[href]
			span
				position: relative
				display: inline-block
				width: auto
				&:before
					content: ''
					position: absolute
					transition: $trs2
					left: 50%
					right: 50%
					bottom: 0
					height: 1px
					background-color: #fff
				&:hover
					color: #fff
					&:before
						left: 0
						right: 0
		&--email
			&:before
				+sp('footer-mail', 13px, 9px)
		&--adress
			&:before
				+sp('footer-adress', 10px, 14px)
		&--timework
			&:before
				+sp('footer-timework', 13px, 13px)
		&--phone
			&:before
				+sp('footer-phone', 11px, 11px)
	&_recall
		width: 380px
		float: right
		margin-top: 8px
		+m(d)
			width: 340px
			padding: 0 10px
		+m(t)
			float: left
			width: 98%
			margin: 30px 2% 0
		+m(t2)
			margin: 30px 0 0
		&_head
			display: block
			color: white
			font-family: $rb
			font-size: 14px
			text-transform: uppercase
			+m(t)
				text-align: center
		&_subhead
			display: block
			margin-top: 20px
			color: white
			font-family: $rr
			font-size: 14px
			line-height: 1.2
			+m(t)
				text-align: center
		&_block
			margin-top: 33px
			@extend .clearfix
			&_input
				float: left
				display: block
				width: 238px
				height: 42px
				border: 2px solid white
				padding: 0 24px
				color: white
				font-family: $rr
				font-size: 14px
				font-weight: 400
				text-transform: uppercase
				background-color: transparent
				+m(d)
					width: 200px
				+m(t)
					width: 63%
					margin: 0 1%
			&_submit
				float: right
				display: block
				cursor: pointer
				border: none
				width: 130px
				height: 42px
				background-color: #fc0
				transition: $trs
				color: black
				font-family: $rr
				font-size: 14px
				font-weight: 400
				text-transform: uppercase
				+m(d)
					width: 110px
				+m(t)
					width: 33%
					margin: 0 1%
				&:hover
					background-color: #ffe400

.content
	padding: 100px 0
	&_head
		display: block
		text-align: center
		font-family: $osr
		font-size: 44px
		font-weight: 400
	&_doc-pdf
		display: block
		width: 100%
		margin: 30px auto 0
		height: 700px
		+m(t2)
			height: 400px
		&_wrapper
			@extend .clearfix
		&_download
			display: block
			width: 50%
			margin: 50px auto 0
			font-family: $osb
			background: #58a9b6
			color: #fff
			height: 44px
			font-size: 14px
			text-align: center
			line-height: 42px
			transition: $trs
			border: 1px solid transparent
			text-transform: uppercase
			+m(t2)
				width: 70%
			+m(p1)
				width: 95%
				font-size: 12px
			&:hover
				background: transparent
				color: #1b2c3d
				border: 1px solid #1b2c3d




























































