.wrapper
	section.header_contacts
		a.header_contacts_logo(href="#")
			i.header_contacts_logo_icon
		.header_contacts_block
			.header_contacts_block_item
				span.header_contacts_block_head Отдел продаж:
				span.header_contacts_block_adress Санкт-Петербург,
				span.header_contacts_block_adress Ленинский пр. 153, Офис 1107
			.header_contacts_block_item
				span.header_contacts_block_head График работы:
				span.header_contacts_block_adress Пн-пт с 10:00 до 20:00
				span.header_contacts_block_adress телефон (без выходных)
			.header_contacts_block_phone-block
				a.header_contacts_block_phone-block_phone(href="tel: +7 (812) 244-56-32") +7 (812) 244-56-32
		nav.header_contacts_menu_block
			ul.header_contacts_menu
				li.header_contacts_menu_item
					a.header_contacts_menu_lnk(href="#") Квартиры
				li.header_contacts_menu_item
					a.header_contacts_menu_lnk(href="#") Расположение
				li.header_contacts_menu_item
					a.header_contacts_menu_lnk(href="#") Документация
				li.header_contacts_menu_item
					a.header_contacts_menu_lnk(href="#") КОНТАКТЫ отдела продаж
	section.header_mob
		.wrapper
			a.header_mob_logo(href="/")
				i.header_mob_logo_icon
			a.header_mob_phone(href="#")
				span.header_mob_phone_head Контактный телефон
				span.header_mob_phone_item +7 (812) 244-56-32
			.header_mob_menu-toggler
				i.header_mob_menu-toggler_icon
			ul.header_mob_menu
				li.header_mob_menu_item
					a.header_mob_menu_lnk(href="#") Квартиры
				li.header_mob_menu_item
					a.header_mob_menu_lnk(href="#") Расположение
				li.header_mob_menu_item
					a.header_mob_menu_lnk(href="#") Документация
				li.header_mob_menu_item
					a.header_mob_menu_lnk(href="#") КОНТАКТЫ отдела продаж
section.header_contact
	.wrapper
		i.header_contact_icon
		.header_contact_content
			span.header_contact_content_name Отдел продаж: 
			span.header_contact_content_txt Санкт-Петербург, Ленинский пр. 153, Офис 110