section.header-stock
	.wrapper
		.header-stock_left-col
			h3.header-stock_head Отдаём однокомнатные квартиры по цене студии!
			.header-stock_items
				.header-stock_item.wow.rubberBand(data-wow-delay="0.0s")
					i.header-stock_item_icon.header-stock_item_icon--1
					span.header-stock_item_name 6 минут ходьбы </br>до набережной невы
				.header-stock_item.wow.rubberBand(data-wow-delay="0.5s")
					i.header-stock_item_icon.header-stock_item_icon--2
					span.header-stock_item_name проведены вода, свет, </br>газ,  канализация
				.header-stock_item.wow.rubberBand(data-wow-delay="1.2s")
					i.header-stock_item_icon.header-stock_item_icon--3
					span.header-stock_item_name современные </br>планировки квартир
			a.header-stock_lead-btn(href="#") Сэкономить до 300.000 рублей!
			span.header-stock_subtxt Акция действует до 28 июля 2018 года.
		.header-stock_right-col
			<iframe class="header-stock_video" src="https://www.youtube.com/embed/hcit_ea6gUg?rel=0&amp;showinfo=0&amp;iv_load_policy=3&amp;modestbranding=1&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			span.header-stock_content.wow.fadeInUp(data-wow-delay="1.8s")
				| «Родные берега” - это живописный правый берег реки Невы, утопающий в зелени Невского лесопарка, десятки прудов и карьеров в шаговой доступности от Вашего дома и загородный свежий воздух, которым казалось бы пропитано всё вокруг!