section.advantages
	.wrapper
		h2.advantages_head Преимущества квартир
		.cols
			.left-col
				.advantages_block
					.advantages_block_item.wow.pulse(data-wow-delay="0.1s")
						i.advantages_block_item_icon.advantages_block_item_icon--1
						.advantages_block_item_content
							span.advantages_block_item_name Подведены: вода,свет, газ, канализация
							span.advantages_block_item_content_txt Дом полностью соответствует всем техническим условиям и к нему уже подведены все необходимые коммуникации!
					.advantages_block_item.wow.pulse(data-wow-delay="0.4s")
						i.advantages_block_item_icon.advantages_block_item_icon--2
						.advantages_block_item_content
							span.advantages_block_item_name Современные  планировки квартир
							span.advantages_block_item_content_txt Ваша семья будет жить с полном комфортом, ведь планировки в доме соответствуют последним Европейским тенд
					.advantages_block_item.wow.pulse(data-wow-delay="0.7s")
						i.advantages_block_item_icon.advantages_block_item_icon--3
						.advantages_block_item_content
							span.advantages_block_item_name 6 минут ходьбы до набережной реки Невы
							span.advantages_block_item_content_txt Свежий воздух и чистая природа окружают Родные берега, всего через 6 минут спокойной ходьбы, Вы окажетесь на набережн
			.right-col
				.advantages_map_block.map#map1(data-map="map1" data-sh="59" data-dg="30" data-zoom="7")
					span.map-metka(data-shirota="59" data-dolgota="30") text
		.tabs
			.tabs_handlers
				span.tabs_handler.active Расположение
				span.tabs_handler_subcontent.active Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque ea ratione, dolore repudiandae corporis ipsam nostrum! Quisquam, asperiores amet rerum nihil ipsum odio architecto odit at mollitia dolorum veniam obcaecati!
				span.tabs_handler Транспортная доступность
				span.tabs_handler_subcontent Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque ea ratione, dolore repudiandae corporis ipsam nostrum! Quisquam, asperiores amet rerum nihil ipsum odio architecto odit at mollitia dolorum veniam obcaecati!
				span.tabs_handler Сроки сдачи
				span.tabs_handler_subcontent Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque ea ratione, dolore repudiandae corporis ipsam nostrum! Quisquam, asperiores amet rerum nihil ipsum odio architecto odit at mollitia dolorum veniam obcaecati!
				span.tabs_handler Почему с нами безопасно?
				span.tabs_handler_subcontent Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque ea ratione, dolore repudiandae corporis ipsam nostrum! Quisquam, asperiores amet rerum nihil ipsum odio architecto odit at mollitia dolorum veniam obcaecati!
				span.tabs_handler Почему у нас дешевле?
				span.tabs_handler_subcontent Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque ea ratione, dolore repudiandae corporis ipsam nostrum! Quisquam, asperiores amet rerum nihil ipsum odio architecto odit at mollitia dolorum veniam obcaecati!
				span.tabs_handler Условия покупки
				span.tabs_handler_subcontent Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque ea ratione, dolore repudiandae corporis ipsam nostrum! Quisquam, asperiores amet rerum nihil ipsum odio architecto odit at mollitia dolorum veniam obcaecati!
				span.tabs_handler Ипотека и субсидии
				span.tabs_handler_subcontent Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque ea ratione, dolore repudiandae corporis ipsam nostrum! Quisquam, asperiores amet rerum nihil ipsum odio architecto odit at mollitia dolorum veniam obcaecati!
			.tabs_content
				.tabs_item.active
					span.tabs_item_content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque ea ratione, dolore repudiandae corporis ipsam nostrum! Quisquam, asperiores amet rerum nihil ipsum odio architecto odit at mollitia dolorum veniam obcaecati!
				.tabs_item
					span.tabs_item_content Quas sit itaque repellat ratione magni est magnam libero ullam unde officia temporibus, aperiam eaque, inventore sed, delectus cupiditate. Ad dolorem esse voluptatum velit magni quos ut consequuntur ipsum beatae?
				.tabs_item
					span.tabs_item_content Modi ab hic nobis magnam excepturi fugit, illum quia aspernatur sapiente laboriosam magni assumenda. Ratione similique reprehenderit quod dolores repellendus, eum eaque illo numquam maiores explicabo, odit iste nesciunt reiciendis.
				.tabs_item
					span.tabs_item_content Laudantium officiis deleniti saepe praesentium vero porro rerum officia ex modi adipisci. Harum provident qui, consequuntur laboriosam ipsa similique magni voluptatibus itaque quam, quidem ea ipsam corporis numquam facilis nesciunt.
				.tabs_item
					span.tabs_item_content Obcaecati blanditiis sit nulla vitae aperiam fugiat voluptatum sapiente, nam ipsa, ad tempore, expedita facere possimus veritatis eum in odio ipsam. Magnam eius mollitia tempora et, unde nisi magni quisquam!
				.tabs_item
					span.tabs_item_content Ex, velit. Earum facilis assumenda sit dolorem inventore. Ipsum rerum numquam tempore sequi, nisi molestiae dolor modi minus earum commodi quos incidunt. Voluptate laboriosam quasi eius consequuntur voluptatibus, molestiae dolores!
				.tabs_item
					span.tabs_item_content Voluptas iure nulla ipsum minus voluptatibus impedit, cupiditate eius maiores, quos iusto numquam pariatur accusantium corporis vitae sint, magni sunt delectus quod dolorum tempore! Ad minus aperiam, at eveniet mollitia!
		.advantages_items
			.advantages_item
				span.advantages_item_head.advantages_item_head--1.wow.fadeIn(data-class=".advantages_item_head--1" data-val="300") 300
				span.advantages_item_val <b>Метров</b> до отделения
			.advantages_item
				span.advantages_item_head.advantages_item_head--2.wow.fadeIn(data-class=".advantages_item_head--2" data-val="400") 400
				span.advantages_item_val <b>Метров</b> до отделения 
			.advantages_item
				span.advantages_item_head.advantages_item_head--3.wow.fadeIn(data-class=".advantages_item_head--3" data-val="500") 500
				span.advantages_item_val <b>Метров</b> до отделения