article.content
	.wrapper
		h1.content_head Документация
		object.content_dow-pdf_wrapper
			embed.content_doc-pdf(src="razreshenie.pdf", type="")
		a.content_doc-pdf_download(href="razreshenie.pdf" target="_blank") Скачать Разрешение на строительство