footer.footer
	.wrapper
		.footer_logo_block
			a.footer_logo(href="#")
				i.footer_logo_icon
			span.footer_logo_subcontent
				| Мы предлагаем вашему вниманию квартиры напрямую от застройщика по самым выгодным ценам.
		.footer_contacts
			a.footer_contact.footer_contact--email(href="#")
				span nfo@rodnye-berega.ru
			span.footer_contact.footer_contact--adress
				span Санкт-Петербург, </br>Ленинский пр. 153, Офис 1107
			span.footer_contact.footer_contact--timework
				span Пн-Пт, с 10:00 до 20:00
			a.footer_contact.footer_contact--phone(href="tel: 8 (812) 244-56-32")
				span 8 (812) 244-56-32
		.footer_recall
			span.footer_recall_head БЕСПЛАТНЫЙ ЗВОНОК МЕНЕДЖЕРА
			span.footer_recall_subhead Введите Ваш телефон и наш менеджер свяжется </br>с Вами в течении 2 минут
			form.footer_recall_block(action="#" method="POST")
				input(type="hidden" name="project_name" value="Новая заявка!")
				input(type="hidden" name="admin_email" value="anton@smartlime.ru")
				input(type="hidden" name="form_subject" value="Новая заявка с сайта")
				input.footer_recall_block_input.phoneinput(type="text" name="userphone" placeholder="Номер телефона" required)
				input.footer_recall_block_submit(type="submit" value="Заказать")