doctype html
//[if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]
//[if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]
//[if IE 8]><html lang="ru" class="lt-ie9"><![endif]
html(lang="ru")
	head
		title
			block title
		//- кодировка
		meta(http-equiv = 'Content-Type', content = 'text/html; charset=utf-8')
		//- viewport для размера страницы
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui")
		//- переключаем ie в режим последней версии
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		//- отключаем тулбар для изображений
		meta(name="imagetoolbar" content="no")
		//- просим IE оформлять все в классическом стиле без учета текущей темы операционки
		meta(name="msthemecompatible" content="no")
		//- Mobile Internet Explorer для сглаживания шрифтов
		meta(name="cleartype" content="on")
		//- Запрещаем распознавать номера телефонов и адреса
		meta(name="format-detection" content="telephone=no")
		meta(name="format-detection" content="address=no")
		meta(name="theme-color", content="#fff")
		meta(name="msapplication-navbutton-color" content="#fff")
		meta(name="apple-mobile-web-app-status-bar-style" content="#fff")
	body
		block content
		//[if lt IE 9]><script src="libs/html5shiv/es5-shim.min.js"></script><script src="libs/html5shiv/html5shiv.min.js"></script><script src="libs/html5shiv/html5shiv-printshiv.min.js"></script><script src="libs/respond/respond.min.js"></script><![endif]
		script.
			var ms=document.createElement("link");ms.rel="stylesheet";
			ms.href="css/libs.min.css";document.getElementsByTagName("head")[0].appendChild(ms);
			var ms=document.createElement("link");ms.rel="stylesheet";
			ms.href="css/main.css";document.getElementsByTagName("head")[0].appendChild(ms);
		script.
			var scr = {"scripts":[
			{"src" : "js/libs.min.js", "async" : false},
			{"src" : "js/common.js", "async" : false}
			]};!function(t,n,r){"use strict";var c=function(t){if("[object Array]"!==Object.prototype.toString.call(t))return!1;for(var r=0;r<t.length;r++){var c=n.createElement("script"),e=t[r];c.src=e.src,c.async=e.async,n.body.appendChild(c)}return!0};t.addEventListener?t.addEventListener("load",function(){c(r.scripts);},!1):t.attachEvent?t.attachEvent("onload",function(){c(r.scripts)}):t.onload=function(){c(r.scripts)}}(window,document,scr);
		script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU", type="text/javascript")