section.lead
	.wrapper
		.lead_form
			span.lead_form_head Позвоните нам на <a class="lead_form_head_lnk" href="tel: +7(812)2445632">(812) 244 56 32</a>
			span.lead_form_subhead или закажите обратный звонок
			form.lead_form_block(action="#" method="POST")
				input(type="hidden" name="project_name" value="Новая заявка!")
				input(type="hidden" name="admin_email" value="anton@smartlime.ru")
				input(type="hidden" name="form_subject" value="Новая заявка с сайта")
				input.lead_form_input(type="text" name="username" placeholder="Имя" required)
				input.lead_form_input.phoneinput(type="text" name="userphone" placeholder="Номер телефона" required)
				input.lead_form_submit(type="submit" value="заказать звонок")
		.lead_timer
			span.lead_timer_head До повышения цен на квартиры
			.lead_timer_items(data-time="30.05.2018")
				.lead_timer_item
					span.lead_timer_item_val#days 05
					span.lead_timer_item_name Дней
				.lead_timer_item
					span.lead_timer_item_val#hours 13
					span.lead_timer_item_name Часов
				.lead_timer_item
					span.lead_timer_item_val#minutes 12
					span.lead_timer_item_name Минут