section.map_block
	.map#map2(data-map="map2" data-sh="59" data-dg="30" data-zoom="10")
		.map-metka.map_baloon(data-shirota="59" data-dolgota="30")
			h2.map_baloon_head Громкий заголовок!
			span.map_baloon_content Что-нибудь такое, что заставить пользователя позвонить.
			a.map_baloon_phone(href="tel: 8 (800) 200-06-00") 8 (800) 2000-600
	.wrapper
		.map_block_wrapper
			h2.map_block_head ЖК "Родные берега"
			span.map_block_content Посёлок имени Свердлова, ул. Какая-то, д. 24а
	