section.payments
	.wrapper
		.payments_items
			.payments_item
				span.payments_item_head 4 способа оплаты
				span.payments_item_content Предоплата, ипотека, рассрочка, субсидии
			.payments_item
				span.payments_item_head Безопасность сделки
				span.payments_item_content Вы защищены 214 федеральным законом!
			.payments_item
				span.payments_item_head Ипотека за 24 часа
				span.payments_item_content Поможем получить ипотеку Сбербанка
			.payments_item
				span.payments_item_head Экскурсии на объект
				span.payments_item_content Каждую субботу проводим экскурсии