section.quarters_about
	// при вставке видео сохраните класс .quarters_about_img
	img.quarters_about_img(src="img/about-img.png", alt="")
	.quarters_about_content
		span.quarters_about_content_item Этажей: 10
		span.quarters_about_content_item Лестниц: 14
		span.quarters_about_content_item Осталось квартир: 42
		span.quarters_about_content_item Парковочных мест: 1180
		span.quarters_about_content_item Сдача объекта: 18 декабря 2017 года
		span.quarters_about_content_item Выдача ключей: 13 марта 2018 года
		span.quarters_about_content_item Квартиры от: 1 680 000 рублей
		span.quarters_about_content_txt
			| Строительство подошло к концу, дом прошёл все необходимые проверки и получил нужную документацию. <span>Первые жильцы получат ключи от своих квартир уже в марте этого года!</span>