section.quarters
	.wrapper
		h2.quarters_head наши предложения
		.quarters_handlers
			.quarters_handler.active
				i.quarters_handler_icon.quarters_handler_icon--1
				.quarters_handler_content
					h3.quarters_handler_head 1 Очередь
					span.quarters_handler_subhead Объект сдаётся 13 марта 2018 года
			.quarters_handler
				i.quarters_handler_icon.quarters_handler_icon--2
				.quarters_handler_content
					h3.quarters_handler_head 2 Очередь
					span.quarters_handler_subhead Объект сдаётся 13 марта 2018 года
		.quarters_items_block
			.quarters_items.active
				.quarters_items_carousel_wrapper
					i.quarters_items_carousel-prev.carousel-prev(data-class="quarters_items_carousel1")
					i.quarters_items_carousel-next.carousel-next(data-class="quarters_items_carousel1")
					.owl-carousel.quarters_items_carousel1(data-class="quarters_items_carousel1" data-items="3" data-loop="true")
						.quarters_item
							.quarters_item_icon
								img.quarters_item_icon_img(src="img/item_icon_img1.png", alt="")
							.quarters_item_img_wrapper
								img.quarters_item_img(src="img/item_img1.png", alt="")
							span.quarters_item_name 1 комната, 36.45 М2
							span.quarters_item_level 4 этаж
							span.quarters_item_price 1 680 000 руб.
						.quarters_item
							.quarters_item_icon
								img.quarters_item_icon_img(src="img/item_icon_img2.png", alt="")
							.quarters_item_img_wrapper
								img.quarters_item_img(src="img/item_img2.png", alt="")
							span.quarters_item_name 1 комната, 36.45 М2
							span.quarters_item_level 4 этаж
							span.quarters_item_price 2 210 000 руб.
						.quarters_item
							.quarters_item_icon
								img.quarters_item_icon_img(src="img/item_icon_img3.png", alt="")
							.quarters_item_img_wrapper
								img.quarters_item_img(src="img/item_img3.png", alt="")
							span.quarters_item_name 1 комната, 36.45 М2
							span.quarters_item_level 1, 2, 4, 5, 6, 7, 8,... этаж
							span.quarters_item_price 2 720 000 руб.
						.quarters_item
							.quarters_item_icon
								img.quarters_item_icon_img(src="img/item_icon_img3.png", alt="")
							.quarters_item_img_wrapper
								img.quarters_item_img(src="img/item_img3.png", alt="")
							span.quarters_item_name 1 комната, 36.45 М2
							span.quarters_item_level 1, 2, 4, 5, 6, 7, 8,... этаж
							span.quarters_item_price 2 720 000 руб.
						.quarters_item
							.quarters_item_icon
								img.quarters_item_icon_img(src="img/item_icon_img3.png", alt="")
							.quarters_item_img_wrapper
								img.quarters_item_img(src="img/item_img3.png", alt="")
							span.quarters_item_name 1 комната, 36.45 М2
							span.quarters_item_level 1, 2, 4, 5, 6, 7, 8,... этаж
							span.quarters_item_price 2 720 000 руб.
			.quarters_items
				.quarters_items_carousel_wrapper
					i.quarters_items_carousel-prev.carousel-prev(data-class="quarters_items_carousel2")
					i.quarters_items_carousel-next.carousel-next(data-class="quarters_items_carousel2")
					.owl-carousel.quarters_items_carousel2(data-class="quarters_items_carousel2" data-items="3" data-loop="true")
						.quarters_item
							.quarters_item_icon
								img.quarters_item_icon_img(src="img/item_icon_img1.png", alt="")
							.quarters_item_img_wrapper
								img.quarters_item_img(src="img/item_img1.png", alt="")
							span.quarters_item_name 1 комната, 36.45 М2
							span.quarters_item_level 4 этаж
							span.quarters_item_price 1 680 000 руб.
						.quarters_item
							.quarters_item_icon
								img.quarters_item_icon_img(src="img/item_icon_img2.png", alt="")
							.quarters_item_img_wrapper
								img.quarters_item_img(src="img/item_img2.png", alt="")
							span.quarters_item_name 1 комната, 36.45 М2
							span.quarters_item_level 4 этаж
							span.quarters_item_price 2 210 000 руб.
						.quarters_item
							.quarters_item_icon
								img.quarters_item_icon_img(src="img/item_icon_img3.png", alt="")
							.quarters_item_img_wrapper
								img.quarters_item_img(src="img/item_img3.png", alt="")
							span.quarters_item_name 1 комната, 36.45 М2
							span.quarters_item_level 1, 2, 4, 5, 6, 7, 8,... этаж
							span.quarters_item_price 2 720 000 руб.
						.quarters_item
							.quarters_item_icon
								img.quarters_item_icon_img(src="img/item_icon_img3.png", alt="")
							.quarters_item_img_wrapper
								img.quarters_item_img(src="img/item_img3.png", alt="")
							span.quarters_item_name 1 комната, 36.45 М2
							span.quarters_item_level 1, 2, 4, 5, 6, 7, 8,... этаж
							span.quarters_item_price 2 720 000 руб.
						.quarters_item
							.quarters_item_icon
								img.quarters_item_icon_img(src="img/item_icon_img3.png", alt="")
							.quarters_item_img_wrapper
								img.quarters_item_img(src="img/item_img3.png", alt="")
							span.quarters_item_name 1 комната, 36.45 М2
							span.quarters_item_level 1, 2, 4, 5, 6, 7, 8,... этаж
							span.quarters_item_price 2 720 000 руб.
		include quarters_about
		include quarters_about2