section.recall-block
	.wrapper
		.left-col
			h3.recall-block_head Позвоните нам </br>на <a href="tel: 8 (812) 244-56-32">8 (812) 244-56-32</a>
			span.recall-block_content
				| И вы получите не только квартиру по лучшей цене, но и качественное сопровождение на протяжении всей сделки: помощь в получении ипотеки, работа с субсидиями и материнским капиталом, а также консультации по любому возникающему вопросу!
			.recall-block_contacts
				.recall-block_contact
					span.recall-block_contact_head Отдел продаж
					span.recall-block_contact_contact
						| Санкт-Петербург, </br>Ленинский пр. 153, Офис 1107
				.recall-block_contact
					span.recall-block_contact_head Электронная почта:
					a.recall-block_contact_contact(href="mailto: info@rodnye-berega.ru") info@rodnye-berega.ru
			form.recall-block_form(action="#" method="POST")
				input(type="hidden" name="project_name" value="Новая заявка!")
				input(type="hidden" name="admin_email" value="anton@smartlime.ru")
				input(type="hidden" name="form_subject" value="Новая заявка с сайта")
				span.recall-block_form_head Или закажите бесплатный </br>обратный звонок
				.recall-block_form_inputs-wrapper
					input.recall-block_form_input.phoneinput(type="text" name="userphone" placeholder="Ваш телефон" required)
					input.recall-block_form_submit(type="submit" value="Заказать")
		.managers
			h2.managers_head Менеджеры ЖК  "Родные берега"
			.managers_items
				.managers_item_wrapper
					.managers_item
						img.managers_item_img(src="img/manager1.png", alt="")
						span.managers_item_name Ксения
						a.managers_item_phone(href="tel: 7(999) 800-80-80")
							span.managers_item_phone_name Связаться
							i.managers_item_phone_icon
					span.managers_item_name--mob Ксения
				.managers_item_wrapper
					.managers_item
						img.managers_item_img(src="img/manager2.png", alt="")
						span.managers_item_name Егор
						a.managers_item_phone(href="tel: 7(999) 800-80-80")
							span.managers_item_phone_name Связаться
							i.managers_item_phone_icon
					span.managers_item_name--mob Егор
				.managers_item_wrapper
					.managers_item
						img.managers_item_img(src="img/manager3.png", alt="")
						span.managers_item_name Дмитрий
						a.managers_item_phone(href="tel: 7(999) 800-80-80")
							span.managers_item_phone_name Связаться
							i.managers_item_phone_icon
					span.managers_item_name--mob Дмитрий
				.managers_item_wrapper
					.managers_item
						img.managers_item_img(src="img/manager4.png", alt="")
						span.managers_item_name Ольга
						a.managers_item_phone(href="tel: 7(999) 800-80-80")
							span.managers_item_phone_name Связаться
							i.managers_item_phone_icon
					span.managers_item_name--mob Ольга
				.managers_item_wrapper
					.managers_item
						img.managers_item_img(src="img/manager5.png", alt="")
						span.managers_item_name Денис
						a.managers_item_phone(href="tel: 7(999) 800-80-80")
							span.managers_item_phone_name Связаться
							i.managers_item_phone_icon
					span.managers_item_name--mob Денис