block title
	|	Главная
extends blocks/layout
block content
	include blocks/header
	include blocks/quarters
	include blocks/lead
	include blocks/advantages
	include blocks/payments
	include blocks/recall
	include blocks/map
	include blocks/footer